.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: #F0F0F0;
  padding: 1.6rem .6rem;
  border-radius: 8px;
}

.itemName,
.itemType {
  font-weight: 700;
  font-size: 20px;
  text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
}

.itemLength,
.itemPrice,
.itemMGLT,
.itemCrew,
.itemMaxSpeed,
.itemPassengers{
  display: flex;
  flex-direction: column;
  gap: .6rem;
  text-align: center;
  font-size: 16px;
}

.itemLength span,
.itemPrice span,
.itemMGLT span,
.itemCrew span,
.itemMaxSpeed span,
.itemPassengers span{
  color: grey;
  text-decoration: underline;
}

.itemInfoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}