
.homePage {
  height: 1000px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #1F2A63 0%, #17002F 100%);
}

.homeInfo {
  display: inline-block;
  width: 33%;
  margin-left: 10%;
  margin-top: 10%;
}

.homeTitle {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 4px;
}

.homePage h2 {
  margin-top: 13%;
  font-size: 32px;
  line-height: 37px;

}

.homePage button {
  width: 15rem;
  height: 4rem;
  margin-top: 13%;
  background: #FFC107;
  box-shadow: inset 0 -9px 0 rgba(0, 0, 0, 0.18);
  border: none;
  border-radius: 11px;
  font-weight: 700;
  font-size: 23px;
}

.banner {
  width: 50%;
  height: auto;
  position: absolute;
  right: 5%;
  top: 18%;

}


