.starships {
  margin: 5% 10%;
}

.starships h1 {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.starships form {
  text-align: center;
  margin-top: 3%;
}

.searchInput {
  width: 95%;
  height: 6vh;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.8);
  background: #F2F2F2;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  border:none;
  border-radius: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.itemContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-gap: 1rem;
  margin-top: 1.6rem;
}