.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: linear-gradient(180deg, #17002F 42.19%, #1F2A63 100%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.contentImage {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #1F2A63;
  box-shadow: 4px 4px 8px rgba(1, 28, 64, 0.2);
}

.contentImage img {
  aspect-ratio: auto;
}

.contentDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: #F0F0F0;
  padding: 1.6rem .6rem;
}