.header {
  background: #1F2A63;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25))
}

.logo {
  display: flex;
  margin-left: 10%;
}

.menu {
  display: flex;
  margin-right: 6%;
}

.menu li {
  margin-right: 5rem;
}

.menu li a {
  display: inline-block;
  padding-bottom: 15px;
  text-decoration: none;
  color: #FFFFFF;
}

.active {
  border-bottom: 3px solid #CFDAB0;
}