/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap'); */

@font-face {
	font-family: 'Karla'; 
	src: local('Karla'),
  url(../fonts/Karla-VariableFont_wght.ttf);
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 25px;
}